:root {
  --light-100: #ffffff;
  --neutral-100: #f4f4f4;
  --neutral-200: #cfcfcf;
  --blue-100: #c2e4fe;
  --blue-200: #27a1ff;
  --blue-300: #0271c7;
  --red-100: #e94e4e;
  --dark-100: #6b6b6b;
  --dark-200: #292929;
}

@font-face {
  font-family: "Roboto";
  src: url(../fonts/Roboto-Regular.woff2) format("woff2");
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 10px;
  font-family: 'Roboto', sans-serif;
}

body {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (max-content)[3];
      grid-template-rows: repeat(3, -webkit-max-content);
      grid-template-rows: repeat(3, max-content);
  row-gap: 2em;
}

*,
*::before,
*:after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

table,
th,
td {
  background: none;
  border: none;
  border-collapse: collapse;
  border-spacing: 0;
  background-image: none;
}

a {
  text-decoration: none;
}

button,
input,
textarea {
  border: none;
  outline: none;
  background: transparent;
}

textarea {
  resize: vertical;
}

ul {
  list-style-type: none;
}

.container {
  margin: 0 auto;
  width: 100%;
  max-width: 102.4em;
  padding: 0 1.2em;
}

.header {
  width: 100%;
  background-color: var(--neutral-100);
  min-height: 10em;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  padding: 2.1em 0;
}

.header__control {
  height: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (max-content)[2];
      grid-template-columns: repeat(2, -webkit-max-content);
      grid-template-columns: repeat(2, max-content);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 1em;
}

.header__column-btns, .header__column-search {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (max-content)[2];
      grid-template-columns: repeat(2, -webkit-max-content);
      grid-template-columns: repeat(2, max-content);
  gap: 1em;
}

.header__column-btn {
  background-color: var(--blue-300);
  border: none;
  outline: none;
  color: var(--neutral-100);
  padding: 0.6em 1.2em;
  border-radius: 0.2em;
  -webkit-transition: all .1s;
  transition: all .1s;
  will-change: transition;
}

.header__column-btn:first-child {
  position: relative;
}

.header__column-btn:first-child .quick-add-event {
  cursor: auto;
  width: 27.6em;
  position: absolute;
  z-index: 10;
  left: 0;
  top: 150%;
  background-color: var(--light-100);
  padding: .6em 1.2em;
  opacity: 0;
  visibility: hidden;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (max-content)[3];
      grid-template-rows: repeat(3, -webkit-max-content);
      grid-template-rows: repeat(3, max-content);
  gap: .8em;
  -webkit-box-shadow: 0 0 1em 0.3em rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 1em 0.3em rgba(0, 0, 0, 0.1);
  -webkit-transition: all .2s;
  transition: all .2s;
  will-change: transition;
}

.header__column-btn:first-child .quick-add-event__row {
  width: 1fr;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__column-btn:first-child .quick-add-event__row:first-child {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

.header__column-btn:first-child .quick-add-event__row input[type="text"] {
  width: 100%;
  background: var(--light-100);
  border: 0.1em solid var(--neutral-100);
  -webkit-box-shadow: inset 0 0 0.1em 0.2em rgba(0, 0, 0, 0.25);
          box-shadow: inset 0 0 0.1em 0.2em rgba(0, 0, 0, 0.25);
  border-radius: .4em;
  padding: 0.6em 1.2em;
}

.header__column-btn:first-child .quick-add-event__row input[type="text"]::-webkit-input-placeholder {
  color: var(--neutral-200);
}

.header__column-btn:first-child .quick-add-event__row input[type="text"]:-ms-input-placeholder {
  color: var(--neutral-200);
}

.header__column-btn:first-child .quick-add-event__row input[type="text"]::-ms-input-placeholder {
  color: var(--neutral-200);
}

.header__column-btn:first-child .quick-add-event__row input[type="text"]::placeholder {
  color: var(--neutral-200);
}

.header__column-btn:first-child .quick-add-event__row input[type="text"]:focus {
  border: 0.1em solid var(--blue-200);
}

.header__column-btn:first-child .quick-add-event__row input[type="button"] {
  background: var(--light-100);
  -webkit-box-shadow: inset 0 0 0.1em 0.1em rgba(0, 0, 0, 0.25);
          box-shadow: inset 0 0 0.1em 0.1em rgba(0, 0, 0, 0.25);
  border-radius: .4em;
  padding: 0.2em 0.6em;
  cursor: pointer;
  -webkit-transition: all .1s;
  transition: all .1s;
  will-change: transition;
}

.header__column-btn:first-child .quick-add-event__row input[type="button"]:hover {
  color: var(--light-100);
  background: var(--dark-100);
  -webkit-box-shadow: inset 0px 0px 1px 1px rgba(0, 0, 0, 0.25);
          box-shadow: inset 0px 0px 1px 1px rgba(0, 0, 0, 0.25);
}

.header__column-btn:first-child .quick-add-event__row input[type="button"]:active {
  color: var(--light-100);
  background: var(--neutral-200);
}

.header__column-btn:first-child .quick-add-event__row input[type="button"]:disabled {
  color: var(--neutral-200);
  background: var(--light-100);
  border: 0.1em solid var(--neutral-200);
  cursor: auto;
}

.header__column-btn:first-child .quick-add-event i {
  cursor: pointer;
  position: relative;
  width: 2em;
  height: 2em;
}

.header__column-btn:first-child .quick-add-event i::before, .header__column-btn:first-child .quick-add-event i::after {
  position: absolute;
  content: '';
  width: 1em;
  height: 0.1em;
  background-color: var(--dark-200);
  top: 0.9em;
  left: 0.4em;
}

.header__column-btn:first-child .quick-add-event i::before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.header__column-btn:first-child .quick-add-event i::after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.header__column-btn:first-child .quick-add-event::before {
  position: absolute;
  content: '';
  left: 2.2em;
  top: -1em;
  width: 0;
  height: 0;
  border-left: .8em solid transparent;
  border-right: .8em solid transparent;
  border-bottom: 1em solid var(--light-100);
}

.header__column-btn:first-child .quick-add-event.active {
  opacity: 1;
  visibility: visible;
}

.header__column-btn:not(:disabled) {
  cursor: pointer;
  -webkit-box-shadow: 0 0.1em 0.1em rgba(0, 0, 0, 0.25);
          box-shadow: 0 0.1em 0.1em rgba(0, 0, 0, 0.25);
  text-shadow: 0 0 0.4em rgba(0, 0, 0, 0.5);
}

.header__column-btn:disabled {
  background-color: var(--neutral-200);
}

.header__column-btn:hover:not(:disabled) {
  background-color: var(--blue-200);
}

.header__column-btn:active:not(:disabled) {
  background-color: var(--blue-100);
}

.header__column-btn.active:not(:disabled) {
  background-color: var(--blue-100);
}

.header__column-search {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__column-search input {
  padding: 0.6em 1.2em;
}

.header__column-search input[type="search"] {
  background: var(--light-100);
  border: 0.1em solid var(--neutral-200);
  -webkit-box-shadow: inset 0 0 0.1em 0.2em rgba(0, 0, 0, 0.25);
          box-shadow: inset 0 0 0.1em 0.2em rgba(0, 0, 0, 0.25);
  border-radius: 0.4em;
}

.header__column-search input[type="search"]::-webkit-input-placeholder {
  color: var(--neutral-200);
}

.header__column-search input[type="search"]:-ms-input-placeholder {
  color: var(--neutral-200);
}

.header__column-search input[type="search"]::-ms-input-placeholder {
  color: var(--neutral-200);
}

.header__column-search input[type="search"]::placeholder {
  color: var(--neutral-200);
}

.header__column-search input[type="search"]:focus {
  border: 0.1em solid var(--blue-200);
}

.header__column-search input[type="button"] {
  cursor: pointer;
  width: 2em;
  height: 2em;
  background: url(../images/icon.svg) no-repeat center;
  background-size: cover;
}

.main__row:first-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  gap: 1em;
  margin-bottom: 1.2em;
}

.main__row button {
  cursor: pointer;
  background: var(--light-100);
  -webkit-box-shadow: inset 0 0 0.1em 0.1em rgba(0, 0, 0, 0.25);
          box-shadow: inset 0 0 0.1em 0.1em rgba(0, 0, 0, 0.25);
  border-radius: .4em;
  padding: 0.4em;
  -webkit-transition: all .1s;
  transition: all .1s;
  will-change: transition;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main__row button:hover {
  color: var(--light-100);
  background: var(--dark-100);
  -webkit-box-shadow: inset 0px 0px 1px 1px rgba(0, 0, 0, 0.25);
          box-shadow: inset 0px 0px 1px 1px rgba(0, 0, 0, 0.25);
}

.main__row button:active {
  color: var(--light-100);
  background: var(--neutral-200);
}

.main__row button:disabled {
  color: var(--neutral-200);
  background: var(--light-100);
  border: 0.1em solid var(--neutral-200);
  cursor: auto;
}

.main__month {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2.4em;
}

.main__month h1 {
  font-size: 3em;
  text-transform: capitalize;
}

.main__month button {
  background: var(--light-100);
  -webkit-box-shadow: inset 0 0 0.1em 0.1em rgba(0, 0, 0, 0.25);
          box-shadow: inset 0 0 0.1em 0.1em rgba(0, 0, 0, 0.25);
  border-radius: .4em;
  padding: 0.4em;
  -webkit-transition: all .1s;
  transition: all .1s;
  will-change: transition;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main__month button:hover {
  color: var(--light-100);
  background: var(--dark-100);
  -webkit-box-shadow: inset 0px 0px 1px 1px rgba(0, 0, 0, 0.25);
          box-shadow: inset 0px 0px 1px 1px rgba(0, 0, 0, 0.25);
}

.main__month button:hover svg use {
  fill: var(--light-100);
}

.main__month button:active {
  color: var(--light-100);
  background: var(--neutral-200);
}

.main__month button:active svg use {
  fill: var(--light-100);
}

.main__month button:disabled {
  color: var(--neutral-200);
  background: var(--light-100);
  border: 0.1em solid var(--neutral-200);
  cursor: auto;
}

.main__month button:disabled svg use {
  fill: var(--neutral-200);
}

.main__month button:first-child svg {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.main__month button svg {
  width: 1em;
  height: 1em;
}

footer {
  background-color: var(--neutral-100);
  padding: 2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: .5em;
  font-size: 18px;
}

.table {
  overflow: hidden;
  overflow-x: auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (12em)[5];
  -ms-grid-columns: (1fr)[7];
      grid-template: repeat(5, 12em)/repeat(7, 1fr);
  border: 0.05em solid var(--dark-200);
  border-bottom: none;
  border-left: none;
}

.table .row-title {
  color: var(--dark-200);
}

.table__cell {
  cursor: pointer;
  padding: .8em;
  border: 0.05em solid var(--dark-200);
  border-right: none;
  border-top: none;
  -webkit-transition: all .2s;
  transition: all .2s;
  font-size: 1.4em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: .6em;
  color: var(--dark-100);
}

.table__cell .table__row_title {
  color: #000;
}

.table__cell:hover, .table__cell.current {
  background-color: var(--neutral-100);
}

.table__cell.active, .table__cell:active, .table__cell.filled {
  background-color: var(--blue-100);
}

.table__cell.filled:active {
  position: relative;
  z-index: 10;
  background: var(--blue-100);
  border: 1px solid var(--dark-200);
  -webkit-box-shadow: 0px 0px 10px 2px var(--blue-300);
          box-shadow: 0px 0px 10px 2px var(--blue-300);
}

.table__cell:active {
  position: relative;
  z-index: 10;
  background: var(--light-100);
  border: 1px solid var(--dark-200);
  -webkit-box-shadow: 0px 0px 10px 2px var(--blue-300);
          box-shadow: 0px 0px 10px 2px var(--blue-300);
}

.table__cell.prev-day {
  color: var(--neutral-200);
}

[data-add-form] {
  position: relative;
}

.form {
  position: absolute;
  width: 29em;
  -webkit-box-shadow: 0 0 1em 0.3em rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 1em 0.3em rgba(0, 0, 0, 0.1);
  background-color: #fff;
  padding: 12px;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: repeat 3, max-content;
      grid-template-rows: repeat 3, -webkit-max-content;
      grid-template-rows: repeat 3, max-content;
  gap: 1em;
  z-index: 10;
  cursor: pointer;
  -webkit-transition: all .2s;
  transition: all .2s;
  opacity: 0;
  visibility: hidden;
}

.form input[type="text"],
.form input[type="date"],
.form textarea {
  width: 100%;
  background: var(--light-100);
  border: 0.1em solid var(--neutral-100);
  -webkit-box-shadow: inset 0 0 0.1em 0.2em rgba(0, 0, 0, 0.25);
          box-shadow: inset 0 0 0.1em 0.2em rgba(0, 0, 0, 0.25);
  border-radius: .4em;
  padding: 0.6em 1.2em;
}

.form input[type="text"]::-webkit-input-placeholder,
.form input[type="date"]::-webkit-input-placeholder,
.form textarea::-webkit-input-placeholder {
  color: var(--neutral-200);
}

.form input[type="text"]:-ms-input-placeholder,
.form input[type="date"]:-ms-input-placeholder,
.form textarea:-ms-input-placeholder {
  color: var(--neutral-200);
}

.form input[type="text"]::-ms-input-placeholder,
.form input[type="date"]::-ms-input-placeholder,
.form textarea::-ms-input-placeholder {
  color: var(--neutral-200);
}

.form input[type="text"]::placeholder,
.form input[type="date"]::placeholder,
.form textarea::placeholder {
  color: var(--neutral-200);
}

.form input[type="text"]:focus,
.form input[type="date"]:focus,
.form textarea:focus {
  border: 0.1em solid var(--blue-200);
}

.form input[type="button"] {
  background: var(--light-100);
  -webkit-box-shadow: inset 0 0 0.1em 0.1em rgba(0, 0, 0, 0.25);
          box-shadow: inset 0 0 0.1em 0.1em rgba(0, 0, 0, 0.25);
  border-radius: .4em;
  padding: 0.2em 0.6em;
  cursor: pointer;
  -webkit-transition: all .1s;
  transition: all .1s;
  will-change: transition;
}

.form input[type="button"]:hover {
  color: var(--light-100);
  background: var(--dark-100);
  -webkit-box-shadow: inset 0px 0px 1px 1px rgba(0, 0, 0, 0.25);
          box-shadow: inset 0px 0px 1px 1px rgba(0, 0, 0, 0.25);
}

.form input[type="button"]:active {
  color: var(--light-100);
  background: var(--neutral-200);
}

.form input[type="button"]:disabled {
  color: var(--neutral-200);
  background: var(--light-100);
  border: 0.1em solid var(--neutral-200);
  cursor: auto;
}

.form::before {
  position: absolute;
  content: '';
  width: 0;
  height: 0;
  border-top: 1em solid transparent;
  border-bottom: 1em solid transparent;
}

.form div.close-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

.form div.close-form i {
  cursor: pointer;
  position: relative;
  width: 2em;
  height: 2em;
}

.form div.close-form i::before, .form div.close-form i::after {
  position: absolute;
  content: '';
  width: 1em;
  height: 0.1em;
  background-color: var(--dark-200);
  top: 0.9em;
  left: 0.4em;
}

.form div.close-form i::before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.form div.close-form i::after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.form__row:not(:last-child) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: .8em;
}

.form__row:not(:last-child):not(h2) {
  font-size: 1.4em;
}

.form.top-left::before {
  left: -1.2em;
  top: 1em;
  border-right: 1.2em solid var(--light-100);
}

.form.top-right::before {
  right: -1.2em;
  top: 1em;
  border-left: 1.2em solid var(--light-100);
}

.form.bottom-left:before {
  bottom: 1em;
  left: -1.2em;
  border-right: 1.2em solid var(--light-100);
}

.form.bottom-right:before {
  bottom: 1em;
  right: -1.2em;
  border-left: 1.2em solid var(--light-100);
}

@media (max-width: 478px) {
  .header {
    padding-bottom: 1em;
  }
  .header__control {
    -ms-grid-columns: max-content;
        grid-template-columns: -webkit-max-content;
        grid-template-columns: max-content;
    -ms-grid-rows: (max-content)[2];
        grid-template-rows: repeat(2, -webkit-max-content);
        grid-template-rows: repeat(2, max-content);
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .header__column-btns {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .table {
    -ms-grid-rows: (9em)[5];
    -ms-grid-columns: (1fr)[7];
        grid-template: repeat(5, 9em)/repeat(7, 1fr);
  }
}

.search label {
  position: relative;
}

.search__list {
  font-size: 1.4em;
  position: absolute;
  width: 100%;
  left: 0;
  right: 0;
  top: 3.5em;
  padding-top: 3em;
  max-height: 20em;
  overflow-y: auto;
  background-color: var(--light-100);
  display: none;
  z-index: 10;
  border-radius: .4em;
  -webkit-box-shadow: 0 0 1em 0.3em rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 1em 0.3em rgba(0, 0, 0, 0.1);
  padding: .4em;
}

.search__list.active {
  display: block;
}

.search__list::before {
  content: '';
  top: -1em;
  left: 3em;
  z-index: 11;
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  border-top: 1em solid var(--dark-100);
  border: 1em solid transparent;
}

.search__list::-webkit-scrollbar {
  width: .6em;
}

.search__list::-webkit-scrollbar-track {
  background: var(--light-100);
}

.search__list::-webkit-scrollbar-thumb {
  background-color: blue;
  border-radius: .3em;
  background-color: #c4c4c4;
}

.search__list ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1em;
}

.search__list ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: .6em;
  cursor: pointer;
  padding: 0.4em .9em;
  -webkit-transition: background-color .1s;
  transition: background-color .1s;
  will-change: transition;
}

.search__list ul li span.hidden {
  display: none;
}

.search__list ul li:hover {
  background-color: var(--blue-300);
  color: var(--light-100);
}
/*# sourceMappingURL=index.css.map */